<link rel="stylesheet" href="../styles/navbar.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div id="navbar">
	<ul>
		<li id="logo"><img id="logoimage" src="../patflix.png" /></li>
		<li id="blurb">A Netflix mockup populated exclusively by films I've made</li>
	<% if (!currentUser){ %>
		<li id="register"><a href="/register">Sign Up</a></li>
		<li id="login"><a href="/login">Login</a></li>
	<% } else { %>
		<li id="signedin">Signed in as <%=currentUser.username%></li>
		<li id="signout"><a href="/logout">Log Out</a></li>
	<% } %>
	</ul>
</div>