<% include partials/header %>

<link rel="stylesheet" href="../styles/login.css">

<img id="logoimage" src="../patflix.png" />

<form id="form" action="/login" method="POST">
	
	<h1 id="title">Sign In</h1>

	<input id="username" type="text" name="username" placeholder="Username">

	<input id="password" type="password" name="password" placeholder="Password">

	<button id="submit"><strong>Sign In</strong></button>
		
</form>

<% include partials/footer %>