<% include partials/header %>

<link rel="stylesheet" href="../styles/register.css">

<img id="logoimage" src="../patflix.png" />

<form id="form" action="/register" method="post">

	<h1 id="title">Sign up</h1>

	<input id="username" type="text" name="username" placeholder="username">

	<input id="password" type="password" name="password" placeholder="password">

	<button id="submit"><strong>Sign Up</strong></button>

</form>

<% include partials/footer %>