<% include partials/header %>

<link rel="stylesheet" href="../styles/show.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div id="page">

  <a href="/"><i id="back" class="fas fa-arrow-circle-left"></i></a>

  <video width="320" height="200" autoplay controls>
    <source src="../<%=film.video%>" type="video/mp4">
  </video>
</div>

<% include partials/footer %>