body{
	color: white;
	background-color: #141414;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.wrap{
	position: relative;
    height: 145px;
    width: 300px;
}

.previewImage{
	z-index: 1;
	vertical-align: middle;
	height: 145px;
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19), visibility .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	padding-left: 5px;
	padding-right: 5px;
}

.wrap:hover .previewImage{
	height: 190px;
}

.wrap .previewText {
	position: absolute;
	font-size: 20px;
	top: 35px;
	bottom: 0;
	left: 20px;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19), visibility .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

.wrap:hover .previewText {
    visibility: visible;
    opacity: 1;
    top: 45px;
}

.wrap i {
	width: 1px;
	height: 1px;
	position: absolute;
	font-size: 40px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19), visibility .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.wrap .playButton {
	top: -10px;
	bottom: 0;
	left: 110px;
	right: 0;
}

.wrap .commentsButton{
	top: 40px;
	bottom: 0;
	left: 210px;
	right: 0;
}

.wrap:hover i {
    visibility: visible;
    opacity: 1;
}

.wrap:hover .playButton {
    left: 150px;
    top: -10px;
}

.wrap:hover .commentsButton{
	left: 280px;
	top: 52px;
}

.wrapper{
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  padding-right: 50px; /* 3 */
  padding-left:  50px; /* 3 */
}

#teaser{
	position: relative;
}

#teaser-img{
	width: 100%;
	z-index: 4;
}

#teaser-title1, #teaser-title2{
	font-family: 'Coiny', cursive;
	position: absolute;
	font-size: 3vw;
}

#teaser-title1{
	top: 24.5vw;
	left: 2.2vw;
}

#teaser-title2{
	top: 27.5vw;
	left: 19vw;
}

#teaser-info{
	width: 30vw;
	font-size: 1.5vw;
	position: absolute;
	top: 30vw;
	left: 3vw;
}

#teaser-button{
	font-size: 90px;
	position: absolute;
	top: 20vw;
	left: 45vw;
	z-index: 5;
	color: white;
	transition: all 0.3s;
}

#teaser-button:hover{
	top: 19vw;
	left: 44vw;
	font-size: 120px;
}

#titles{
	position: relative;
	top: -190px;
	padding-bottom: -190px;
}

@media only screen and (max-width: 1000px) {
	#teaser{
		display: none;
	}

	#popular{
		padding-top: 250px;
	}
}